#div-titulo
{
	border: solid black 1px;
	background: #00238c;
	height: 60px;
}
#div-titulo:hover
{
	background: #00638c;

}
#logo-img
{
	margin-top: 1%;
	margin-left: 10%;
}
#titulo
{
	color:red;
}
#orc-infos
{
	text-align: left;
	float: right;
	margin-top: 100px;
	margin-right: 30px;
	margin-left: 70px;
	border: dotted 1px gainsboro;
}
#orc-cliente
{
	/*border: dotted 1px blue;*/
	padding: 5px;
	width: 180mm;
	color: blue;
	text-align: left;
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}
#campo-itens
{
	padding: 20px;
	border: dotted 1px gainsboro;
	margin-top: 400px;
	margin-left: 50px;
	margin-right: 50px;
	width: 180mm;
}
#campo-itens:hover
{
	border-radius: 10px; 
}
table,tr,td
{
	padding: 10px;
	border-collapse: collapse;
	border: outset 1px black;
}
td:hover
{
	background: lightgrey;
}
#info-row1
{
	background: Gainsboro;
}
#prod-row1
{
	background: Gainsboro;

}
#caixa-imp
{
	width: 210mm;
	height: 297mm;
	margin-top: 5px;
	border: solid 1px black;
	background: ffffff	;
	border-radius: 1%; 
}

#string-black
{
	color: black;
	text-align: right;
}
#total-geral
{
	margin-top: 5px;
}
#separator
{
	
}

#obs-div2
{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: solid 1px grey;
	width: 550px;
	height: 150px;
	padding: 20px;	
	background: #ffffff;
}

#obs-div1
{
	border: solid 1px grey;
	width: 600px;
	height: auto;
	margin-top: 20px;
	margin-left: 100px;
	background: Lightgrey;
}

