#GtkEntry{
  color: red;
}

#caixa_frame{
  border: solid #dcdcdc 1px;
}

#caixa{
  border-radius: 10px;
}

#acao_atual{
  color: green;
}

#botao_iniciar{
  background-color: white;
  border-radius: 5px;
}

#barra{
  border: solid 1px black;
}

#infos{
  color: white;
  text-shadow: 5px 2px 8px #00238c;
  font-size: 20px;
}

#frame{

}

#frame2{


}

#janela_login{
  border-radius: 10px;
  border: solid 1px black;
}

#nome_operador{
  color: white;
}
