#caixa_frame{
  border: solid #dcdcdc 1px;
}

#caixa{
  border-radius: 10px;
}

#acao_atual{
  color: green;
}

#botao_iniciar{
  background-color: white;
  border-radius: 5px;
}

#barra{
  border: solid 1px black;
}

#hostname-label{
  background: grey;
  padding: 5px;
  border: solid 1px black;
  color: Gainsboro;
  text-shadow: 5px 2px 5px #00238c;
  font-size: 15px;
}

#infos{
  margin-left: 50px;
  color: Gainsboro;
  font-weight: bold;
  text-shadow: 5px 2px 5px #dcdcdc;
  font-size: 25px;
}

#frame{

}

#frame2{


}

#janela_login{
  border-radius: 10px;
  border: solid 1px black;
}

#nome_operador{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#nivel_operador{
  color: Red;

}

#combo-box-pequeno{
  font-size: 11px;
}

#combo-box-medio{
  font-size: 13px;
}

#entry_unsensetivate{
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 10px grey;
}
