#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Comment=Um Sistema gerencial simples
Categories=Management;Enterprise;
Exec=/usr/bin/petitto
Icon=/usr/share/petitto/files/ico.png
Path=/usr/bin
Name=Petitto
