#atualizacoes_qnt
{
	color: white;
}
#infos_atualizacao
{
	background: white;
	border: solid black 1px;
}

#atualizacao_infos_titulo
{
	color: black;
}

#atualizacao_infos_label
{
	color: black;

}
#info_box
{
	border: solid black 1px;
}
